@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,800;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,800;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* START: General styles */
.center {
  @apply flex justify-center items-center;
}
/* End: General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  border-color: black;
}
*::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 247, 246, 241;
  --background-rgb: 247, 246, 241;
}

/* START: Hero styles */
.hero {
  @apply flex-col justify-start border-b-2 border-black relative z-0;
}

.arsiv-slider::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  bottom: 42px;
  background-color: #0d0d0d;
}

.week-head::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 4px;
  bottom: 0px;
  right: 110px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0d0d0d;
}

.game-head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0d0d0d;
  transform: translateX(-100%); /* Move the element 100% to the left */
}

.profile-head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
  transform: translateX(-100%); /* Move the element 100% to the left */
  z-index: 10;
}

.header-btn {
  @apply active:bg-[#0D0D0D] mx-3 my-1 justify-end rounded-sm;
  display: inline-block;
  position: relative;
  color: #0d0d0d;
  cursor: none;
}

.header-btn::after {
  content: "";
  position: absolute;
  width: 130%;
  transform: scaleX(0);
  left: -15%;
  height: 2px;
  bottom: -25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  position: fixed;
  top: -250px; /* Initially hide the navbar above the viewport */
  transition: top 0.8s; /* Add a smooth transition effect */
  right: 0;
  left: 0;
}

.visible {
  position: fixed;
  top: 0; /* Show the navbar at the top of the viewport */
  transition: top 0.8s;
  right: 0;
  left: 0;
}

.frame-chat-top::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0d0d0d;
}
.frame-chat-top::after {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0d0d0d;
}

.frame-chat-bottom::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
}
.frame-chat-bottom::after {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
}

.frame-header::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -3px;
  left: 0px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
}
.frame-header::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -3px;
  right: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
}

.just {
  perspective: 900px;
}

.card1 {
  transform: rotateX(3deg) rotateY(30deg) rotateZ(-3deg); /* Initial values */
  transition: transform 250ms ease-in-out 0.1s;
}

.card1:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.card2 {
  /* transform: rotateX(-5deg) rotateY(10deg) rotateZ(3deg);  */
  /* transform: rotateX(3deg) rotateY(30deg) rotateZ(-3deg) ;  */
  transform: rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
  transform-style: preserve-3d;
  transition: transform 250ms ease-in-out 0.1s;
}

.card2:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.card3 {
  /* transform: rotateX(-5deg) rotateY(10deg) rotateZ(3deg);  */
  /* transform: rotateX(3deg) rotateY(30deg) rotateZ(-3deg) ;  */
  transform: rotateX(3deg) rotateY(30deg) rotateZ(3deg);
  transform-style: preserve-3d;
  transition: transform 250ms ease-in-out 0.1s;
}

.card3:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.card4 {
  /* transform: rotateX(-5deg) rotateY(10deg) rotateZ(3deg);  */
  /* transform: rotateX(3deg) rotateY(30deg) rotateZ(-3deg) ;  */
  transform: rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
  transform-style: preserve-3d;
  transition: transform 250ms ease-in-out 0.1s;
}

.card4:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.animate_content_card_1 {
  animation: animate-card-1 2s ease;
}

@keyframes animate-card-1 {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
}

.animate_content_card_2 {
  animation: animate-card-2 2s ease;
}

@keyframes animate-card-2 {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
}

.animate_content_card_3 {
  animation: animate-card-3 2s ease;
}

@keyframes animate-card-3 {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
}

.animate_content_card_4 {
  animation: animate-card-4 2s ease;
}

@keyframes animate-card-4 {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
}

.card_deneme_left {
  transform: rotateX(0deg) rotateY(30deg) rotateZ(-3deg); /* Initial values */
  transition: transform 250ms ease-in-out 0.1s;
  transform-style: preserve-3d;
}

.card_deneme_left:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.card_deneme_right {
  transform: rotateX(0deg) rotateY(-30deg) rotateZ(3deg);
  transition: transform 250ms ease-in-out 0.1s;
  transform-style: preserve-3d;
}

.card_deneme_right:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.card_deneme {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Initial values */
  transition: transform 250ms ease-in-out 0.1s;
  transform-style: preserve-3d;
}

.card_deneme:hover {
  transform: rotateX(var(--dx)) rotateY(var(--dy));
}

.animate_content_card_deneme_left {
  animation: animate-card-deneme-left 2s ease;
}

@keyframes animate-card-deneme-left {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(-30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
}

.animate_content_card_deneme {
  animation: animate-card-deneme 2s ease;
}

@keyframes animate-card-deneme {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(30deg) rotateZ(3deg);
    transform-style: preserve-3d;
  }
}

.animate_content_card_deneme_right {
  animation: animate-card-deneme-right 2s ease;
}

@keyframes animate-card-deneme-right {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  35% {
    opacity: 1;
    transform: scale(0.2, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  65% {
    opacity: 1;
    transform: scale(1, 0.002) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: scale(1, 1) rotateX(3deg) rotateY(-30deg) rotateZ(-3deg);
    transform-style: preserve-3d;
  }
}

.card-btn {
  @apply bg-[#0D0D0D] hover:bg-[#F7F6F1] hover:text-[#0D0D0D] text-[#F7F6F1] font-light px-12 lg:px-8 xl:px-8 2xl:px-12 py-2.5 rounded-sm;
}

.card-frame-right {
  position: absolute;
  right: 20px;
  top:7.5%;
  height: 85%;
  border-right: 1px solid #f7f6f125;
  z-index: 50;
}
.card-frame-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 8%;
  border-radius: 40px 0 0 40px;
  border-right: 2px solid #f7f6f1;
  animation: right-top 15s infinite ease-in-out;
  z-index: 60;
}

@keyframes right-top {
  0% {
    height: 8%;
  }
  50% {
    height: 5%;
  }
  100% {
    height: 8%;
  }
}

.card-frame-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8%;
  border-radius: 40px 0 0 40px;
  border-right: 2px solid #f7f6f1;
  animation: right-bottom 10s infinite ease-in-out;
  z-index: 60;
}

@keyframes right-bottom {
  0% {
    height: 8%;
  }
  50% {
    height: 15%;
  }
  100% {
    height: 8%;
  }
}

.card-frame-left {
  position: absolute;
  left: 20px;
  top:7.5%;
  height: 85%;
  border-left: 1px solid #f7f6f125;
  z-index: 50;
}
.card-frame-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8%;
  border-radius: 0 40px 40px 0;
  border-left: 2px solid #f7f6f1;
  animation: left-top 15s infinite ease-in-out;
  z-index: 60;
}
@keyframes left-top {
  0% {
    height: 8%;
  }
  50% {
    height: 15%;
  }
  100% {
    height: 8%;
  }
}

.card-frame-left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  border-radius: 0 40px 40px 0;
  border-left: 2px solid #f7f6f1;
  animation: left-bottom 15s infinite ease-in-out;
  z-index: 60;
}

@keyframes left-bottom {
  0% {
    height: 15%;
  }
  50% {
    height: 8%;
  }
  100% {
    height: 15%;
  }
}

.black-dot-1 {
  position: absolute;
  width: 3%;
  height: 3%;
  background-color: #0d0d0d;
  left: 1%;
  top: 80%;
  border-left: 1px solid #0d0d0d;
  z-index: 50;
  animation: blackdot-1 15s infinite ease-in-out;
}

@keyframes blackdot-1 {
  0% {
    top: 80%;
    height: 3%;
  }
  50% {
    top: 15%;
    height: 15%;
  }
  100% {
    top: 80%;
    height: 3%;
  }
}

.black-dot-2 {
  position: absolute;
  width: 3%;
  height: 3%;
  background-color: #0d0d0d;
  left: 1%;
  top: 20%;
  border-left: 1px solid #0d0d0d;
  z-index: 50;
  animation: blackdot-2 20s infinite ease-in-out;
}

@keyframes blackdot-2 {
  0% {
    top: 20%;
  }

  50% {
    top: 70%;
    height: 6%;
  }
  100% {
    top: 20%;
  }
}

.black-dot-3 {
  position: absolute;
  width: 3%;
  height: 7%;
  background-color: #0d0d0d;
  right: 1%;
  top: 20%;
  border-left: 1px solid #0d0d0d;
  z-index: 50;
  animation: blackdot-3 20s infinite ease-in-out;
}

@keyframes blackdot-3 {
  0% {
    top: 15%;
  }

  50% {
    top: 55%;
    height: 25%;
  }
  100% {
    top: 15%;
  }
}

.card-frame-top {
  position: absolute;
  top: 20px;
  left: 7.5%;
  width: 85%;
  border-top: 1px solid #f7f6f125;
  z-index: 50;
}
.card-frame-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  border-radius: 0 0 40px 40px;
  border-bottom: 2px solid #f7f6f1;
}

.card-frame-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  border-radius: 0 0 40px 40px;
  border-bottom: 2px solid #f7f6f1;
}
.card-frame-bottom {
  position: absolute;
  bottom: 20px;
  left: 7.5%;
  width: 85%;
  border-top: 1px solid #f7f6f125;
  z-index: 50;
}
.card-frame-bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8%;
  border-radius: 40px 40px 0 0;
  border-top: 2px solid #f7f6f1;
}

.card-frame-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8%;
  border-radius: 40px 40px 0 0;
  border-top: 2px solid #f7f6f1;
}
.square-btn:hover {
  background-color: #0d0d0d;
  color: #f7f6f1;
  cursor: none;
}

.square-btn {
  @apply active:bg-[#0D0D0D] px-12 lg:px-8 xl:px-8 2xl:px-12 py-2.5 rounded-sm;
}
.square-btn-s {
  @apply p-2 w-28 rounded-[20px] border-2 border-black font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[12px] active:bg-[#0D0D0D];
}
.square-btn-m {
  @apply p-2 w-32 rounded-[20px] border-2 border-black  font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[10px] active:bg-[#0D0D0D];
}
.square-btn-l {
  @apply p-2 w-44 rounded-[20px] border-2 border-black  font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[10px] active:bg-[#0D0D0D];
}
.circle-outer {
  @apply h-10 w-10 rounded-full bg-[#F7F6F1] border flex justify-center items-center;
}
.circle-inner {
  @apply h-6 w-6 rounded-full bg-[#0D0D0D]  text-[#F7F6F1] flex justify-center items-center;
}
.active {
  @apply bg-[#0D0D0D] text-[#F7F6F1];
}
.square-btn-line {
  @apply w-8 rounded-[8px] border-2 border-black font-bold bg-[#0D0D0D];
}
/* END: Hero styles */

/* START: Login Sections */
.logincard {
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25em;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: transform 0.4s ease-in-out;
  position: relative;
  /*cursor: pointer;*/
}

.logbackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1px;
  background-color: #0d0d0d;
  transition: transform 0.4s ease-in-out;
}
.logframe-top {
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 0;
  right: -10px;
  bottom: 0;
  background-color: transparent;
  transition: transform 0.4s ease-in-out;
}
.logframe-top::before {
  margin: 5px;
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 96%;
  height: 4%;
  border-right: 1px solid #0d0d0d;
}
.logframe-top::after {
  margin: 5px;
  content: "";
  position: absolute;
  height: 1px;
  left: 92%;
  right: -5px;
  top: 5px;
  width: 6%;
  border-top: 1px solid #0d0d0d;
}
.logframe-bottom {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -15px;
  right: 0;
  bottom: -25px;
  background-color: transparent;
  transition: transform 0.4s ease-in-out;
}
.logframe-bottom::before {
  margin: 5px;
  content: "";
  position: absolute;
  width: 1px;
  bottom: 0;
  left: 0;
  top: 88%;
  height: 10%;
  border-left: 1px solid #0d0d0d;
}
.logframe-bottom::after {
  margin: 5px;
  content: "";
  position: absolute;
  height: 1px;
  right: 99%;
  left: -10px;
  bottom: 5px;
  width: 10%;
  border-top: 1px solid #0d0d0d;
}
.logtop-part {
  flex: 4;
  border-top: 2px solid #f7f6f1;
  margin: 5%;
  margin-bottom: 0;
}

.logbottom-part {
  flex: 8;
  margin: 5%;
  margin-top: -10%;
  border-bottom: 2px solid #f7f6f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  overflow: scroll;
}

.logtop-part::before {
  content: "";
  margin: 5%;
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 98%;
  height: 2%;
  border-right: 1px solid #f7f6f1;
}

.logtop-part::after {
  content: "";
  margin: 5%;
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 98%;
  height: 2%;
  border-left: 1px solid #f7f6f1;
}

.logbottom-part::before {
  content: "";
  margin: 10%;
  position: absolute;
  width: 1px;
  bottom: 0;
  right: -5%;
  top: 87.2%;
  height: 2%;
  border-right: 1px solid #f7f6f1;
}
.logbottom-part::after {
  content: "";
  margin: 10%;
  position: absolute;
  width: 1px;
  bottom: 0;
  left: -5%;
  top: 87.2%;
  height: 2%;
  border-left: 1px solid #f7f6f1;
}

.login {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  display: block;
  width: 380px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 4px solid #f7f6f1;
}

/* End of the Login */

.panelcard {
  position: relative;
}
.frame-right {
  position: absolute;
  right: -20px;
  height: 133px;
  border-right: 1px solid black;
}
.frame-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  border-radius: 40px 0 0 40px;
  border-right: 2px solid black;
}
.frame-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
  border-radius: 40px 0 0 40px;
  border-right: 2px solid black;
}
.frame-left {
  position: absolute;
  left: -20px;
  height: 133px;
  border-left: 1px solid black;
}
.frame-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  border-radius: 0 40px 40px 0;
  border-left: 2px solid black;
}
.frame-left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 12px;
  border-radius: 0 40px 40px 0;
  border-left: 2px solid black;
}
.frame-top-panel {
  position: absolute;
  top: 0;
  width: 15em;
  border-top: 1px solid black;
}
.frame-top-panel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  border-right: 18px solid black;
}
.frame-top-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  border-left: 18px solid black;
}
.frame-bottom-panel {
  position: absolute;
  top: 100%;
  width: 15em;
  border-bottom: 1px solid black;
}
.frame-bottom-panel::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  border-radius: 2px 2px 0 0;
  border-right: 18px solid black;
}
.frame-bottom-panel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 2px 2px 0 0;
  border-left: 18px solid black;
}

/* START: Entrance Card styles */
.entrancecard {
  height: 31vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 19em;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  height: 31vw;
  width: 19em;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
.entrancecard:hover .background {
  transform: scale(1.1, 1.1);
  background-color: #0d0d0d;
  border-top: double 4px #f7f6f1;
  border-bottom: double 4px #f7f6f1;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  cursor: none;
}
.entrancecard:hover {
  transform: scale(1.1);
  color: #f7f6f1;
  transition: color 0.4s;
  transition: transform 0.5s ease-in-out, margin 0.3s ease-in-out;
  margin: 10px;
  cursor: none;
}

.frame-top {
  position: absolute;
  top: 0;
  width: 19em;
  border-top: 1px solid black;
}
.frame-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  border-right: 30px solid black;
}
.frame-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  border-left: 30px solid black;
}
.entrancecard:hover .frame-top {
  background-color: #0d0d0d;
  border-top: 1px solid #f7f6f1;
  border-bottom: 1px solid #f7f6f1;
}
.entrancecard:hover .frame-top::after {
  border-left: 30px solid #f7f6f1;
}
.entrancecard:hover .frame-top::before {
  border-right: 30px solid #f7f6f1;
}

.frame-bottom {
  position: absolute;
  bottom: 0;
  width: 19em;
  border-bottom: 1px solid black;
}
.frame-bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  border-radius: 2px 2px 0 0;
  border-right: 30px solid black;
}
.frame-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 2px 2px 0 0;
  border-left: 30px solid black;
}
.entrancecard:hover .frame-bottom {
  background-color: #0d0d0d;
  border-top: 1px solid #f7f6f1;
  border-bottom: 1px solid #f7f6f1;
}
.entrancecard:hover .frame-bottom::after {
  border-left: 30px solid #f7f6f1;
}
.entrancecard:hover .frame-bottom::before {
  border-right: 30px solid #f7f6f1;
}
/* End: Entrance Card  styles */

.animate_content_opening {
  animation: opening 0.7s ease-out;
}
.animate_content_closing {
  animation: closing 2s ease;
}
.animate_content_closing_hor {
  animation: closing-hor 0.7s ease-in-out;
}
.animate_content_opening_hor {
  animation: opening-hor 0.7s ease-in-out;
}

@keyframes closing {
  0% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  65% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes closing-hor {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  35% {
    transform: scale(0.002, 1);
    opacity: 1;
  }
  80% {
    transform: scale(0.002, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes opening {
  0% {
    transform: scale(1, 0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes opening-hor {
  0% {
    transform: scale(0, 1);
    opacity: 0;
  }
  25% {
    transform: scale(0, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 247, 246, 241;
    --background-rgb: 247, 246, 241;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  cursor: none;
}

.container {
  position: relative;
  width: 200px; /* Adjust the container size as needed */
  height: 200px; /* Adjust the container size as needed */
  background-color: lightgray; /* Background color for the container */
}

.container::before {
  content: "";
  position: absolute;
  width: 100px; /* Adjust the rectangle size as needed */
  height: 20px; /* Adjust the rectangle size as needed */
  background-color: blue; /* Adjust the background color as needed */
}

.container::before:nth-child(1) {
  transform: rotate(30deg);
  top: 0;
  left: 0;
}

.container::before:nth-child(2) {
  transform: rotate(60deg);
  top: 0;
  right: 0;
}

.container::before:nth-child(3) {
  transform: rotate(120deg);
  bottom: 0;
  left: 0;
}

.container::before:nth-child(4) {
  transform: rotate(150deg);
  bottom: 0;
  right: 0;
}

.tick_1 {
  position: absolute;
  transform: translate(-50%, -50%) rotate(30deg) translateY(-90px);
  z-index: 99;
  background-color: rgb(13, 0, 13);
  width: 20px;
  height: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_2 {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-30deg) translateY(90px);
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_3 {
  position: absolute;
  transform: translate(-50%, -50%) rotate(150deg) translateY(90px);
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_4 {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-150deg) translateY(-90px);
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.group:hover .tick_1 {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-120px);
  width: 30px;
}

.group:hover .tick_2 {
  transform: translate(-50%, -50%) rotate(-30deg) translateY(120px);
  width: 30px;
}

.group:hover .tick_3 {
  transform: translate(-50%, -50%) rotate(150deg) translateY(120px);
  width: 30px;
}

.group:hover .tick_4 {
  transform: translate(-50%, -50%) rotate(-150deg) translateY(-120px);
  width: 30px;
}

.tick_1_animation {
  animation: tick_1 1.6s ease-in-out;
}

.tick_2_animation {
  animation: tick_2 1.6s ease-in-out;
}

.tick_3_animation {
  animation: tick_3 1.6s ease-in-out;
}

.tick_4_animation {
  animation: tick_4 1.6s ease-in-out;
}

.tick_1_clicked_animation {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-109px)
    translateX(20px);
  animation: tick_1_clicked 0.5s ease-in-out;
  position: absolute;
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_2_clicked_animation {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(109px)
    translateX(20px);
  animation: tick_2_clicked 0.5s ease-in-out;
  position: absolute;
  z-index: 99;
  background-color: rgb(13, 0, 13);
  width: 20px;
  height: 3px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_3_clicked_animation {
  transform: translate(-50%, -50%) rotate(90deg) translateY(109px)
    translateX(-20px);
  animation: tick_3_clicked 0.5s ease-in-out;
  position: absolute;
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.tick_4_clicked_animation {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(-109px)
    translateX(-20px);
  animation: tick_4_clicked 0.5s ease-in-out;
  position: absolute;
  z-index: 99;
  background-color: rgb(13, 13, 13);
  width: 20px;
  height: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: transform 0.2s, width 0.2s;
}

.group:hover .tick_1_clicked_animation {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-120px)
    translateX(25px);
  width: 30px;
}

.group:hover .tick_2_clicked_animation {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(120px)
    translateX(25px);
  width: 30px;
}

.group:hover .tick_3_clicked_animation {
  transform: translate(-50%, -50%) rotate(90deg) translateY(120px)
    translateX(-25px);
  width: 30px;
}

.group:hover .tick_4_clicked_animation {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(-120px)
    translateX(-25px);
  width: 30px;
}

@keyframes tick_1 {
  0% {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-120px);
    width: 50px;
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-120px);
    width: 50px;
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-90px);
    width: 20px;
    opacity: 1;
  }
}

@keyframes tick_1_clicked {
  0% {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-120px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-130px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-130px)
      translateX(25px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-120px)
      translateX(25px);
  }
}

@keyframes tick_2 {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(120px);
    width: 50px;
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(120px);
    width: 50px;
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(90px);
    width: 20px;
    opacity: 1;
  }
}

@keyframes tick_2_clicked {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(120px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(130px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-90deg) translateY(130px)
      translateX(25px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translateY(120px)
      translateX(25px);
  }
}

@keyframes tick_3 {
  0% {
    transform: translate(-50%, -50%) rotate(150deg) translateY(120px);
    width: 50px;
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(150deg) translateY(120px);
    width: 50px;
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(150deg) translateY(90px);
    width: 20px;
    opacity: 1;
  }
}

@keyframes tick_3_clicked {
  0% {
    transform: translate(-50%, -50%) rotate(150deg) translateY(120px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(150deg) translateY(130px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(130px)
      translateX(-25px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(120px)
      translateX(-25px);
  }
}

@keyframes tick_4 {
  0% {
    transform: translate(-50%, -50%) rotate(-150deg) translateY(-120px);
    width: 50px;
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-150deg) translateY(-120px);
    width: 50px;
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-150deg) translateY(-90px);
    width: 20px;
    opacity: 1;
  }
}

@keyframes tick_4_clicked {
  0% {
    transform: translate(-50%, -50%) rotate(-150deg) translateY(-120px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-150deg) translateY(-130px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-90deg) translateY(-130px)
      translateX(-25px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translateY(-120px)
      translateX(-25px);
  }
}

.merkez {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iskele_animation {
  animation: iskele 0.7s ease-in-out;
}

@keyframes iskele {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
  }

  #cursor--small {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
  }

  #cursor .cursor--inner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #f7f6f1;
    mix-blend-mode: difference;
  }
  #cursor--small .cursor--inner--small {
    width: 10px;
    height: 10px;
    background-color: #f7f6f1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.side-scroll:hover {
  cursor: none;
}

:root {
  font-family: "Montserrat", sans-serif;
}

.bar-container {
  position: relative;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.plus {
  position: absolute;
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.bar-top {
  display: flex;
  justify-content: space-between;
  margin-right: 80%;
  margin-top: 3%;
}

.bar-name {
  align-self: flex-start;
  font-size: 16px;
  text-align: left;
  font-weight: 300;
}

.bar-date-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  height: 21px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bar-date-text {
  padding-left: 10%;
  padding-right: 8%;
  border-right: solid 1px black;
}

.bar-date-arrow {
  margin-right: 8%;
  font-weight: bold;
  transform: rotate(90deg);
}

.bar-chart-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1%;
}

.bar-value-container {
  padding-left: 40%;
}

.bar-value-unit {
  position: relative;
  font-size: 16px;
  font-weight: 300;
}

.bar-value-digit {
  font-weight: 700;
  font-size: 48px;
}

.top-left {
  top: 0%;
  left: 0%;
}

.top-right {
  top: 0%;
  right: 0%;
}

.bottom-left {
  bottom: 0%;
  left: 0%;
}

.bottom-right {
  bottom: 0%;
  right: 0%;
}

.arrow {
  display: inline-block;
  height: 0;
  width: 0;
}

.arrow-right {
  border-bottom: 3.5px solid transparent;
  border-left: 6px solid black;
  border-top: 3.5px solid transparent;
}

.arrow-left {
  border-bottom: 3.5px solid transparent;
  border-right: 6px solid black;
  border-top: 3.5px solid transparent;
}

.arrow-down {
  border-right: 4px solid transparent;
  border-top: 8px solid black;
  border-left: 4px solid transparent;
}

.arrow-up {
  border-right: 4px solid transparent;
  border-bottom: 8px solid black;
  border-left: 4px solid transparent;
}

/* .ingame-btn {
  @apply py-3 px-[23px] rounded-[26px] border-[1px] border-[#0D0D0D] text-base font-bold hover:bg-[#0D0D0D]  hover:text-[#F7F6F1] cursor-none active:bg-[#0D0D0D] whitespace-nowrap;
} */

.ingame-btn {
  @apply py-2 px-[12px] rounded-[32px] border-[1px] border-[#0D0D0D] text-sm font-bold hover:bg-[#0D0D0D]  hover:text-[#F7F6F1] cursor-none active:bg-[#0D0D0D] whitespace-nowrap lg:px-[22px] lg:text-base;
}

.ingame-btn-inverted {
  @apply py-2 px-[12px] rounded-[32px] border-[1px] border-[#f7f6f1] text-sm font-bold hover:bg-[#f7f6f1]  hover:text-[#0D0D0D] cursor-none active:bg-[#f7f6f1] whitespace-nowrap lg:px-[22px] lg:text-base;
}

@keyframes custom-spin {
  0% {
    transform: rotate(360deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1080deg); /* Rotate fast */
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(2400deg); /* Slow down at the end */
    animation-timing-function: ease-out;
  }
}

.animate-bum {
  animation: custom-spin 4s linear infinite;
}

.circle-div {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 100px;
  border: 7px solid #ec3463;
  border-style: dashed;
  border-image-source: linear-gradient(0deg, #ec3463 80%, transparent 80%);
  border-image-slice: 1;
  border-image-repeat: round;
  box-sizing: border-box;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #0d0d0d;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #0d0d0d;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #0d0d0d;
  transform-origin: 5px 15px;
  animation: dot-windmill 2s infinite linear;
}
.dot-windmill::before,
.dot-windmill::after {
  content: "";
  display: inline-block;
  position: absolute;
}
.dot-windmill::before {
  left: -8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #0d0d0d;
}
.dot-windmill::after {
  left: 8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #0d0d0d;
}

@keyframes dot-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
    scale: 0.6;
  }
  100% {
    transform: rotateZ(-720deg) translate3d(0, 0, 0);
    scale: 0.6;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50%) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(50%) rotate(-90deg);
  }
}

.toggle-holder:hover .toggle {
  animation: slide 600ms ease-in-out infinite;
}

@keyframes slide2 {
  0% {
    opacity: 0;
    transform: translateX(225%) rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(125%) rotate(90deg);
  }
}

.toggle-holder:hover .toggle2 {
  animation: slide2 600ms ease-in-out infinite;
}

.dotgenlarge {
  animation: dotgenlarge 1500ms ease-in-out infinite;
}

@keyframes dotgenlarge {
  0% {
    opacity: 0;
    scale: 0;
  }
  30% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
.floating-vertical {
  animation: floating-vertical 5s infinite ease-in-out;
}

@keyframes floating-vertical {
  from {
    transform: translate(0, 0px) rotate(90deg);
  }
  65% {
    transform: translate(0, 10px) rotate(90deg);
  }
  to {
    transform: translate(0, -0px) rotate(90deg);
  }
}

.floating-horizontal {
  animation: floating-horizontal 5s infinite ease-in-out , closing 2s ease-in-out;
}

@keyframes floating-horizontal {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}


.flip-hor-card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-hor-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-hor-card:hover .flip-hor-card-inner {
  transform: rotateX(180deg);
}

.flip-hor-card-front,
.flip-hor-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-hor-card-back {
  transform: rotateX(180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
